<header>
    <nav class="navbar navbar-expand-lg dark-navbar top-nav">
        <div class="navbar-collapse">
            <ul class="nav">
                <li class="nav-item top-nav-item">
                    <a href="#">
                        <img alt="Menu" src="../../../assets/Menu.png" width="20" height="17" />
                    </a>
                </li>
                <li class="nav-item top-nav-item">
                    <a href="#">
                        <img alt="Logo" src="../../../assets/Logo.png" width="116" height="25" />
                    </a>
                </li>
                <li>
                    <app-text-input [required]="true" title="Search"></app-text-input>
                </li>
                <li>
                    <div class="left-navbar">
                        <a href="#">
                            <img src="../../../assets/camera.png" width="27" height="20" alt="Create Video">
                        </a>
                        <a href="#">
                            <img src="../../../assets/dots.png" width="21" height="21" alt="Youtube apps">
                        </a>
                        <a href="#">
                            <img src="../../../assets/bell.png" width="22" height="26" alt="Notifications">
                        </a>
                        <a href="#">
                            <img src="../../../assets/userpic.png" width="40" height="40" alt="">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>